.glo-slider {
    overflow: hidden !important;
    max-width: 1116px !important;
    padding-right: 6px !important;
    padding-left: 6px !important;
}

.glo-slider__wrap {
    display: flex !important;
    transition: transform 0.5s;
    will-change: transform !important;
}

.glo-slider__item {
    display: block !important;
}

.services-slider {
    overflow: hidden;
    position: relative;
}

.services-slider .slider-arrow span {
    width: 34px !important;
    height: 36px !important;

}

.services-slider .slider-arrow.prev {
    left: 0px !important;
}

.services-slider .slider-arrow.next {
    right: 0px !important;
}

#gallery .gallery-slider {

    position: relative;
}

#gallery .gallery-slider .slider-arrow {

    position: absolute;

}

#gallery .gallery-slider .slide {
    opacity: 0;
    display: none;
}

#gallery .gallery-slider .active {
    display: block;
    opacity: 0.9;
}

#gallery .gallery-slider .super {
    opacity: 1;
    transition: opacity .4s;

}